.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.loadingSpinner {
  border: 6px solid #fff;
  border-top: 6px solid #1d72b8;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
